@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.background {
  position: absolute;
  /* top: 0%; */
  /* left: 0%; */
  width: 100%;
  height: 100%;
  background: black url(../Assets/theatreBackground.jpg);
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  box-sizing: border-box;
  filter: brightness(.5);
  z-index: -1;
  /* animation: fade-in 3s ease-in-out forwards; */
}


.video_container {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 4%; */
  display: flex;
  justify-content: center;
}

.placeholder_screen {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 82%;
  max-width: 100%;
  /* margin-top: 2%; */
  background-color: rgb(4, 1, 1);
  /* background-color: red; */
  opacity: 0%;
  animation: sneak-in-screen 6s linear forwards;
}

@keyframes sneak-in-screen {
  0% { opacity: 0% }
  50% { opacity: 0% }
  60% { opacity: 0% }
  100% { opacity: 90%}
}

#caseVideo {
  position: absolute;
  max-width: 100%;
  height: 76%;
  max-width: 100%;

  margin-top: 2%;
  /* border: 2px solid red; */

  
  /* box-shadow: 0 50px 1000px 0 rgba(255, 255, 255, 0.2); */
  box-shadow: -8px -3px 300px rgba(255, 255, 255, 0.1);

}

.theatre_controls {
  width: 100%;
  position: absolute;
  /* border: 2px solid red; */
  box-sizing: border-box;
  bottom: 10%;
  display: flex;
  height: calc(3vw + 3vh);
  text-align: center;
  animation: controls-in 1s linear forwards;

}

@keyframes controls-in {
  0% {
    bottom: -10%;
  }
  70% {
    bottom: -10%;
  }
  100% { 
    bottom: 0%;
  }
}

.theatre_button {
  width: 20vmax;
  background-color: rgb(104, 0, 0);
  color: white;
  margin-top: 10px;
}

.exit_link {
  color: white; 
}

.exit_link:hover {
  color: grey;
}

.exit_theatre {
  margin-right: auto;
  border-radius: 0px 20px 0px 0px;
}

.next_film {
  margin-left: auto;
  border-radius: 20px 0px 0px 0px;
}

.fancy_title {
  position: absolute;
  margin: auto;
  text-align: center;
  width: 100%;
  top: 8%;
  color: white;
  font-family: great vibes;
  animation: suspended-splash 5.5s linear forwards;
  margin-top: 4vw;
  font-size: 20vmin;
  text-shadow: -8px -3px 24px rgba(0, 0, 0, 0.6);
}

.fancy_title span {
  font-size: 10vmin;
}

@keyframes suspended-splash {
  0% { transform: translateY(-700px) }
  11% { transform: translateY(-100px)}
  30% { transform: translateY(0px) }
  32% { transform: translateY(-12px) }
  34% { transform: translateY(0px) }
  36% { transform: translateY(-6px) }
  38% { transform: translateY(0px) }
  40% { transform: translateY(-3px) }
  42% { transform: translateY(0px) }
  90% { transform: translateY(0px) }
  92% { transform: translateY(5px)}
  100% { transform: translateY(-700px) }
}

.play_button {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 100px;
  border-color: transparent transparent transparent rgb(230, 230, 230);

  position: absolute;
  top: 40%;
  margin-left: 20px;
}

.theatrePopUp {
  width: 60%;
  height: 40%;
  position: absolute;
  left: 20%;
  top: 50%;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.theatrePopUp span {
  text-decoration: underline;
}

.theatrePopUp span:hover {
  color: grey;
}