.cube {
    width: 190px;
    height: 190px;
    position: absolute;
    transform-style: preserve-3d;
    margin: auto;
    /* margin-top: calc(62vh - (15vw)); */
    transition: margin-top 2.5s ease-in-out;
    /* transition-delay: 1s; */
    margin-top: 1400px;
  }

  .slide_up {
    /* animation: slide-up 3s ease-out;
    animation-fill-mode: forwards;
    animation-delay: .6s;
    margin-top: calc(63vh - (15vw)); */
    margin-top: calc(63vh - (15vw))
  }

  .slide_down {
    /* animation: slide-down 2s ease-in-out;
    animation-fill-mode: forwards;
    margin-top: calc(63vh - (15vw)) */
    margin-top: 1400px;
  }
/* 
  @keyframes slide-up {
    0% { 
      margin-top: 1300px;
    }
    100% {
      margin-top: calc(63vh - (15vw));
    }
  }

  @keyframes slide-down {
    0% { 
      margin-top: calc(63vh - (15vw));
    }
    100% {
      margin-top: 1400px;
    }
  } */
  
  .face {
    position: absolute;
    width: 190px;
    height: 190px;
    border: none;
    backface-visibility: hidden;
  }
  
  .face img {
    width: 100%;
    height: 100%;
    outline: 6px solid black;
  }

  /* .face:hover {
    filter: brightness(2);
  } */
  
  .front {
    transform: translateZ(100px);
  }
  
  .back {
    transform: rotateY(180deg) translateZ(100px);
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(100px);
  }
  
  .top {
    transform: rotateX(90deg) translateZ(100px);
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }