#wrapper {
  clear: both;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow: hidden;
  /* background-attachment: fixed; */

}

.elliot {
  margin: 0px;
  /* overflow: hidden; */
  height:100vh;
  width: 100vw;
  /* overflow-y: scroll; */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  --txt: hotpink;
  --midtxt: rgb(189, 75, 132);
  --dimtxt: rgb(155, 62, 109);
  --bkg: #14151a;

  display: flex;
  justify-content: center;
  align-content: center;
  /* position: absolute; */

}

h1 span {
  font-size: 2rem;
  /* color: var(--txt); */
  font-size: calc(10px + 2vmax);
  margin-left: 3vmin;
}

#cover {
  display: flex;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--bkg);
  animation: fadeout 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  z-index: -2;
}

#video_container {
  margin: -1rem;
  position: fixed;
}

#myVideo {
  position: sticky;
  right: 0;
  bottom: 0;
  width: 116%;
  height: 116%;
  z-index: -100;
}

.darken {
  position: fixed;
  width: 500rem;
  height: 500rem;
  background-color: black;
  opacity: .7;
  transition: opacity 1s ease-in-out;
}

.darkenest {
  opacity: 1;
}

.dynamic_squares_container {
  position: absolute;
  top: 6%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  /* height: 3vh; */
  width: 29vmax;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}

.dynamic_square {
  box-sizing: border-box;
  width: 1.6vmax;
  height: 1.6vmax;
  border: .15vmax solid var(--txt);
  /* background-color: var(--txt); */
}

.social_icons_container {
  opacity: .7;
  position: absolute;
  bottom: calc(1.5vw + 3.5vh);
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  height: 3vh;
  width: 32vmax;
  min-width: 250px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}

.social_icon_container {
  width: 8vmin;
  max-width: 4rem;
}

.local_icon_container {
  width: 8.6vmin;
  max-width: 4rem;
  transform: scale(.7);
}

.social_icon {
  filter: invert(54%) sepia(96%) saturate(804%) hue-rotate(295deg) brightness(99%) contrast(105%);
  width: 100%;
}

.social_icon:hover {
  /* cursor: pointer; */
  opacity: .85;
}

.fill_square {
  background-color: var(--txt);
}

li {
  list-style: none;
}

label {
  position: relative;
}

.lightup_div {
  position: absolute;
  background: transparent;
  color: rgb(44, 44, 44);
  height: 100%;
  width: 100%;
  display: flex;
  top: -5%;
  justify-content: center;
  align-items: center;
  font-size: 9rem;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 20px;
  z-index: 0;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 100;
  cursor: pointer;
}

input[type="checkbox"]:not(:checked) ~ div {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 8s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.big_titles_container {
  /* border: 2px solid red; */
  width: 100%;
  /* height: 100%; */
  position: relative;
  /* margin: auto; */
  display: flex;
  justify-content: right;
  right: 8%;
}

.add_drift_up {
  animation: driftup 2.2s ease-in-out forwards;
  -webkit-animation: driftup 1.5s ease-in-out forwards;
  animation-delay: .3s;
  transform: translateY(100vh);
  -webkit-transform: translateY(100vh)
}

@keyframes driftup {
  0% {
    opacity: 0%;
  }
  60% {
    opacity: 90%;
  }
  100% { 
    transform: translateY(0vh);
    opacity: 100%;
  }
}

.project_title_basic {
  /* border: .2rem solid red; */
  transform-origin: right;
  margin-top: 1.2vmin;
  margin-bottom: 1.2vmin;
  font-size:calc(12px + 4vmax);

  /* min-width: 0%; */
  font-family: system-ui, sans-serif;
  font-weight: bold;
  -webkit-text-stroke-width: 0.04rem;
  -webkit-text-stroke-color: var(--txt);
  transition: transform 500ms;
}

.project_title {
  transform: perspective(40rem) rotateY(-9deg);
  color: var(--bkg);
}

.project_title_stabilized {
  transform: perspective(40rem) rotateY(0deg);
  color: var(--txt);
}

.absolute_title {
  /* text-align: right; */
  position: absolute;
  /* width: 100vw; */
  top: 5%;
  left: 6%;
  animation: blurfadein 9s ease-in-out;
  transform-origin: left;
  animation-fill-mode: forwards;
  /* color: var(--bkg); */
  color: var(--txt);
  font-size: calc(10px + 5vmax);
  /* line-height: 5vmin; */
}

.absolute_title span {
  color: var(--dimtxt);
  display: block;
}

.stay_on_bottom {
  position: fixed;
  top: 45%;
  left: 0px;
  height: 30vh;
  width: 100%;
  /* border: 2px solid red; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.video_container {
  position: absolute;
  width: 48vmax;
  margin: auto;
  height: 30px;
}

.delay_fade {
  opacity: 0%;
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: 2s;
}

.ink {
  position: absolute;
  width: 100%;
  left: 0%;
  opacity: 100%;
  /* animation: fade-in 1s ease-in-out forwards;
  animation-delay: 3s; */
}

.selected_project {
  position: fixed;
  text-align: center;
  display: flex;
  justify-content: center;
  left: 0%;
  width: 100%;
  height: 40vh;
  /* animation: slide-in 3.5s ease-in-out forwards; */
  color: rgb(255, 255, 255);
  background-color: black;
  mix-blend-mode: multiply;
  margin: 0;
  opacity: 100%;
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: black;
}

@keyframes special-fade {
  0% {
    color: black;
  }
  100% {
    color: white;
  }
}

.name_plate {
  animation-delay: -4s;
  position:
}

@keyframes blurfadein {
  0% {
    transform: perspective(40rem) rotateY(90deg);
    opacity: 0%;
    filter: blur(3rem)
  }
  40% {
    transform: perspective(40rem) rotateY(5deg);
    opacity: 90%;
    filter: blur(0);
  }
  100% {
    transform: perspective(40rem) rotateY(0deg);
    opacity: 100%;
  }
}

.project_title:hover {
  transform: rotateY(3deg);
  color: var(--txt);
}

.swing_away {
  animation: swing_away .9s ease-in;
  animation-fill-mode: forwards;
}

@keyframes swing_away {
  0% {
    transform: perspective(40rem) rotateY(-9deg);
    opacity: 100%;
    filter: blur(0)
  }
  85% {
    opacity: 80%
  }
  100% {
    transform: perspective(40rem) rotateY(-85deg);
    opacity: 0%;
    filter: blur(.3rem);
  }
}

.final_swing {
  animation: final_swing 1.6s ease-in;
  animation-fill-mode: forwards;
}

@keyframes final_swing {
  0% {
    transform: perspective(40rem) rotateY(0deg);
    opacity: 100%;
    filter: blur(0)
  }
  80% {
    opacity: 50%
  }
  100% {
    transform: perspective(40rem) rotateY(-90deg);
    opacity: 0%;
    filter: blur(.5rem);
  }
}

.reactive_width_container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: calc(600px + 50vw);
  margin: auto;
  /* border: 3px solid red; */
}

.position_projects {
  position: absolute;
  right: 0%;
  width: 100%;
  height: 100%;
  top: 19vh;
  /* border: 3px solid rgb(246, 255, 0); */
  box-sizing: border-box;
}

.project_text_container {
  position: absolute;
  top: 20%;
  /* right: 25%; */
  border: .2rem solid transparent;
  height: 100vh;
  /* max-width: calc(21rem + 10vw); */
  width: 100%;
  /* border: .2rem solid rgb(255, 0, 225); */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.project_details {
  /* position: absolute; */
  margin: auto;
  color: hotpink;
  left: 0%;
  margin: auto;
  min-width: 50vw;
  /* max-width: calc(21rem + 10vw); */
  max-width: 30vh;
  height: 100vh;
  /* border: .2rem solid red; */
  box-sizing: border-box;
}

.off_left {
  /* START POSITION */
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
}

.off_right {
  /* START POSITION */
  transform: translateX(200%);
  -webkit-transform: translateX(200%);
}

.slide_in {
  animation: slide-in 1.5s ease-in-out forwards;
  -webkit-animation: slide-in 1.5s ease-in-out forwards;
}

.delay_1 {
  animation-delay: .2s;
}

.delay_2 {
  animation-delay: .4s;
}

.delay_3 {
  animation-delay: .5s;
}

.delay_4 {
  animation-delay: 3s;
}

@keyframes slide-in {
  0% {
    opacity: 0%;
  }
  60% {
    opacity: 40%;
  }
  100% { 
    transform: translateX(0%);
    opacity: 100%;
  }
}

.fade_in {
  animation: fade-in 1s ease-in-out forwards;
}

.fade_in_6 {
  animation: fade-in 6s ease-in-out forwards;
  animation-delay: 3s;
  opacity: 0%;
}

.fade_in_2 {
  animation: fade-in 2s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0%;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.tagline {
  font-size: calc(1.2rem + .5vw);
  position: relative;
  margin-bottom: 0;
  /* right: 5%; */
  text-align: left;
}

#thin_tagline_line {
  /* position: absolute; */
  align-self: right;
  right: 0%;
  /* margin-left: 3rem; */
  margin-top: .3rem;
  margin-bottom: 1rem;
  height: .1rem;
  width: 100%;
  background-image: linear-gradient(to right, rgb(157, 63, 110, 0), rgb(157, 63, 110, 1));
  transform: translateX(200%);
  -webkit-transform: translateX(200%);
  animation: slide-in 1.5s ease-in-out forwards;
  -webkit-animation: slide-in 1.5s ease-in-out forwards;
  /* border: 2px solid red; */
}

#time_and_language {
  display: flex;
  /* width: 37rem; */
  /* height: 6rem; */
  /* border: .2rem solid red; */
  justify-content: flex-end;
}

.timeframe {
  /* position: absolute; */
  /* justify-content: right; */
  font-size: calc(.6rem + .3vw);
  text-align: right;
  margin: 0;
  right: 3%;
  /* border: .2rem solid red; */

}

.inline_block_p {
  position: relative;
  left: 0%;
  justify-content: left;
  /* border: .2rem solid red; */
}

.language_p {
  position: relative;
  display: inline-block;
  font-size: calc(.5rem + .2vw);
}

/* transitions */
.expanding_circle {
  display: flex;
  position: absolute;
  background-color: ivory;
  top: 45%;
  right: 395%;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  animation: expand .8s ease-in;
  animation-fill-mode: forwards;
}


/* THIS IS PENTAGON CONTAINER */
#up_pentagon_container {
  position: absolute;
  animation: fade-in 8s ease-in-out forwards;
  /* border: .2rem solid red; */
  /* bottom: 0%; */
  top: 12%;
  right: 3%;
  width: 5rem;
  /* height: 5rem; */
  /* margin-top: -6%; */
}

#pentagon {
  border-top: 2rem solid var(--midtxt);
  animation: blinking .4 infinite;

  position: absolute;
  top: 55%;
  left: 50%;
  width: 4rem;
  transform: translate(-50%, -50%);
  width: 2rem;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}

#pentagon:after{
  position: absolute;
  content: '';
  border-bottom: 2rem solid var(--midtxt);
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  bottom: 2rem;
  left: -1rem;
}

#triangle {
  position: absolute;
  top: -2rem;
  left: 43%;
  border: solid var(--bkg);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3.2px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

#back_arrow_container {
  position: absolute;
  bottom: -3;
  margin-bottom: 2rem;
  left: -1%;
  z-index: 2;
  /* border: 2px solid red; */
}

#back_arrow_container:hover #back_arrow_block {
  background-color: var(--txt);
}

#back_arrow_container:hover #back_arrow_triangle {
  border-right: 1.8rem solid var(--txt);

}

#back_arrow_block {
  position: absolute;
  height: calc(.71 * 2vmax);
  width: calc(.71 * 3vmax);
  border-radius: calc(.71 * .5vmax);
  background-color: var(--dimtxt);
  transform: scale(.9);
}

#back_arrow_triangle {
  position: absolute;
  margin-top: calc(.71 * -.85vmax);
  transform: translateX(calc(.71 * -1.2vmax));
  top: 0%;
  width: 0; 
  height: 0;
  border-radius: calc(.71 * .5vmax);
  border-top: calc(.71 * 1.8vmax) solid transparent;
  border-bottom: calc(.71 * 1.8vmax) solid transparent;
  border-right: 1.8rem solid var(--dimtxt);
}

/* .blinking {
  animation: blinking .4;
} */

@keyframes blinking {
  0% {
    border-top: 2rem solid var(--txt);
    border-bottom: 2rem solid var(--txt);
  }
  49% {
    border-top: 2rem solid var(--txt);
    border-bottom: 2rem solid var(--txt);    
  }
  50% {
    border-top: 2rem solid var(--bkg);
    border-bottom: 2rem solid var(--bkg);
  }
  100% {
    border-top: 2rem solid var(--bkg);
    border-bottom: 2rem solid var(--bkg);
  }
}

@keyframes expand {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(50);
  }
}

/* utility classes */
.hidden {
  /* visibility: hidden; */
  opacity: 0%;
}

#overscroll {
  width: 10rem;
  height: 100rem;
}

p {
  font-weight: bold;
}
