.email_popup_container {
    position: absolute;
    top: 32%;
    height: 60%;
    width: 90%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}

::placeholder {
    color: black;
}

.email_popup_container input, textarea {
    background-color: rgb(99, 99, 99);
    color: whitesmoke;
    border: none;
    resize: none;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 5px;
    font-family: monospace;
    spellcheck: false;
}

.form_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin_div {
    margin-left: auto;
    width: 85px;
}

#form_container {
    width: 90%;
    max-width: 600px;
}

#name_input {
    width: 100%;
}

#email_input {
    width: 100%;
}

#message_input {
    width: 100%;
    height: 100px;
}

#validSend {
    width: 85px;
    margin-top: 20px;
    color: white;
}

#invalidSend {
    width: 85px;
    margin-top: 20px;
    color: red;
}

#send_button:hover {
    background-color: rgb(160, 160, 160);
}

#form_container label {
    color: transparent;
}