.dev_box {
    box-sizing: border-box;
    /* border: 2px solid red; */
}

h2 {
    margin-bottom: 0;
    font-size: 20px;
}

p {
    font-size: 14px;
}

li {
    font-size: 14px;
}

ul {
    padding-left: 0;
}

ul:not(.competency_list) {
padding-left: 4%;
}

.experience_box div {
    font-size: 14px;
}

.education_box div {
    font-size: 12px;
}

.resume_container {
    position: absolute;
    top: calc(16% + 4vmax);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    width: 90%;
    max-width: 900px;
    height: 63%;
    color: var(--txt);
    font-size: 1.6vmin;

    /* When this is rendered from case study we need to redefine the color variable */
    --txt: hotpink;

    
    overflow: auto;
    /* mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
    mask-image: linear-gradient(transparent 0%, rgba(0, 0, 0, .85) 12%, rgba(0, 0, 0, .85) 70%, transparent);
}

.scroll_paper {
    background: black;
    border: 1px solid var(--txt);
    border-radius: 1rem;
    box-sizing: border-box;
    /* color: transparent; */
    margin: 3vh;
    margin-top: 5vh;
    margin-bottom: 10vh;
    
}

.scroll_fade {
    content: '';
    width: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(251, 251, 251, 0) 100%);
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    width: 90%;
    max-width: 900px;
    height: 10%;
    color: var(--txt);
    font-size: 1.6vmin;
    mix-blend-mode: darken;
    border-radius: 1rem;
    box-sizing: border-box;
    

}

.text_margin {
    margin: 2vmin 4vmin 3vmin 4vmin;
}

.mission_statement_title {
    font-size: 30px;
    font-weight: bold;
}

.mission_statement_body {
    font-weight: 450;
}

.competency_list {
    display: inline-block;
}

.competency_list li {
    display: inline-block;
    font-weight: 300;
}

.competency_list li:not(:last-child)::after {
    content: "\A0|\A0";

}

.mission_statement_body span {
    font-style: italic;
    color: rgb(179, 97, 138);
    /* font-weight: 300; */
    font-size: 14px;
}

.center_text {
    text-align: center;
}

.header_box {
    /* height: 10%; */
    text-align: center;
}

.mission_box {
    /* height: 14%; */
    text-align: center;
    width: 82%;
    margin: auto;
}

.competencies_box {
    /* height: 6%; */
    text-align: center;
}

.mission_header {
    color: hotpink;
    font-size: 30px;
    position: absolute;
    top: 18%;
    font-style: oblique;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.nudgeBottom {
    margin-bottom: 5px;
}

.download_container {
    position: absolute;
    /* border: 2px solid red; */
    margin-top: 1rem;
    filter: invert(54%) sepia(96%) saturate(804%) hue-rotate(295deg) brightness(99%) contrast(105%);
    width: 90%;
    max-width: 900px;
    display: flex;
    justify-content: flex-end;
}

#download_icon {
    width: calc(1rem + 2vw);
    animation: slow-strobe 2s steps(1, end) infinite;
    margin-right: 1.4rem;
}

@keyframes slow-strobe {
    0% { opacity: 40% }
    50% { opacity: 80%}
}

#download_icon:hover {
    animation: none;
    opacity: .6;
}