body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


#tooltip {
  /* Required Stuff */
  position: absolute;
  pointer-events: none;
  z-index: 100; /* anything higher than the highest z index you use */
  visibility: hidden;

  /* Example of how to style your tooltip */
  background: hotpink;
  backdrop-filter: blur(5px);
  height: 1rem;
  color: rgb(30, 30, 30);
  font-size: 1em;
  padding: 0.5em;
  border-radius: 1em;
  transform: translateX(-50%) translateY(-120%);
}

/* no tooltips on mobile */
@media (pointer: coarse) {
  #tooltip {
    visibility: hidden;
  }
}